NODE_ENV=DEV
PORT=3000
ADM_EMAIL=
ADM_EMAIL_PASSWORD=

# Database
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Flag para considerar o cartão quando solicitar bag
CARTAO_FLAG=

# Pagarme
PAGARME_API_KEY=

# Update bag
STATUS_BAG='Solicitada,Em separação,Enviado,Recebido,Solicitado a retirada,Verificando peças,Finalizado,Cancelado'