<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    h2,
    h3 {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style-type: none;
    }
</style>

<div class="container">
    <h2><strong>{{nome}}</strong>, acabamos de receber sua solicitação</h2>
    <h2>e estamos preparando sua BAG.</h2>
    <br />


    <img src="https://media.giphy.com/media/aNqEFrYVnsS52/giphy.gif" width="480" height="234"></img>
    <br /><br />

    <strong>Agradecemos por utilizar nosso serviço!</strong>
    <h3>Equipe | <strong>Power Bag</strong></h3>

</div>